/* ########## Default parameters ########## */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--mainGrey);
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

/* boje za stranicu 
    #B5E655 pozadina
    #D9CB9E
    #374140 nav
    #2A2C2B okvir slika
    #BDC3C7 slova?
*/
.col-1 {
  margin: 8.33%;
}
.col-2 {
  margin: 16.66%;
}
.col-3 {
  margin: 25%;
}
.col-4 {
  margin: 33.33%;
}
.col-5 {
  margin: 41.66%;
}
.col-6 {
  margin: 50%;
}
.col-7 {
  margin: 58.33%;
}
.col-8 {
  margin: 66.66%;
}
.col-9 {
  margin: 75%;
}
.col-10 {
  margin: 83.33%;
}
.col-11 {
  margin: 91.66%;
}
.col-12 {
  margin: 100%;
}

/* ########## Navigation bar ########## */

nav {
  /* background-color: #2a2c2b; */
  background-color: var(--mainBlack);
  width: 100%;
  font-size: 2em;
  padding: 3px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: #bdc3c7;
  min-height: 100px;
}

nav ul.links {
  list-style: none;
  display: flex;
  /* background-color: #4E4F4B; */
  justify-content: center;
  /* width: 55%; */
}

nav ul.links li {
  padding-left: 5px;
  padding-right: 5px;
}

nav ul.links a {
  color: var(--mainWhite);
  text-decoration: none;
}

nav ul li.mobileMeniBtn {
  display: none;
}

nav ul.links li:hover {
  background-color: var(--primaryColor);
  border-radius: 3px;
}

/* ########## Main bar ########## */
main {
  width: 100%;
  height: auto;
  background-color: var(--mainGrey);
  padding-top: 10px;
}

.container {
  width: 90%;
  margin-left: 10%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.img-wrapper {
  width: 350px;
  height: 350px;
  /* background-color: #d9cb9e; */
  /* background-color: var(--primaryColor); */
  -webkit-box-shadow: 9px 9px 29px -10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 9px 9px 29px -10px rgba(0, 0, 0, 0.9);
  box-shadow: 9px 9px 29px -10px rgba(0, 0, 0, 0.9);
  /* border: #2A2C2B 5px solid; */
  /* border-radius: px; */
  font-size: 1.5em;
  padding: 5px;
  color: var(--mainBlack);
  margin-bottom: 24px;
  margin-right: 24px;
}

.img-wrapper img {
  width: 100%;
  height: 80%;
}

.img-wrapper input {
  background-color: var(--mainWhite);
  color: #2a2c2b;
  border: none;
  padding: 5px;
  cursor: pointer;
  border: 3px var(--primaryColor) solid;
  border-radius: 3px;
}

.img-wrapper input:hover {
  background-color: var(--primaryColor);
}

/* ########## Footer ########## */
footer {
  background-color: var(--mainBlack);
  height: 100px;
  width: 100%;
  /* margin-top: 15%; */
}

/* ########## Mobile responsivity ########## */

@media screen and (max-width: 700px) {
  nav ul.links li {
    display: none;
  }
  nav ul li.mobileMeniBtn {
    display: block;
  }
}
